html {
  font-family: sans-serif;
  background: url(spain-road.jpg) no-repeat 52% 70% fixed;
  -webkit-background-size: 100% 100% cover;
  -moz-background-size: 100% 100% cover;
  -o-background-size: 100% 100% cover;
  background-size: 100% 100% cover;
  /* set the padding and margin to "0" */
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(253, 245, 245);
}

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 420px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: linear-gradient(rgba(240, 28, 56, 0.95), rgba(240, 28, 56, 0.7));
}

.loginBox2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(240, 28, 56, 0.8);
}

h2 {
  margin: 0;
  padding: 0 0 20px;
  color: rgb(253, 245, 245);
  font-family: pacifico;
  font-size: 30px;
  font-weight: 50;
  text-align: center;
}

.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: rgb(253, 245, 245);
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type='text'],
.loginBox input[type='password'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(253, 245, 245);
  font-size: 16px;
}

::placeholder {
  color: rgb(253, 245, 245);
}

a {
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  height: 25px;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.45);
  color: rgb(253, 245, 245);
  float: right;
  width: 45%;
  border: none;
}

.btn-landing {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.45);
  font-size: 20px;
  padding: 5px;
  width: 45%;
  display: inline-block;
  color: rgb(253, 245, 245);
  border: none;
}

.btn-register {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.45);
  font-size: 20px;
  padding: 5px;
  width: 45%;
  display: inline-block;
  position: relative;
  left: 25%;
  border: none;
}

loginBox2 p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: rgb(200, 200, 200);
}

.loginBox2 input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox2 input[type='text'],
.loginBox2 input[type='password'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(200, 200, 200);
  font-size: 16px;
}

.dashboard {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 400px;
  transform: translate(-50%, -50%);
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(240, 28, 56, 0.8);
}

.feedback {
  text-align: center;
}

.header-bar {
  height: 40px;
  background: rgba(240, 28, 56, 0.8);
}

.header-bar>button {
  background: rgba(240, 28, 56, 0);
  color: rgb(253, 245, 245);
  width: 10%;
  font-size: 16px;
  font-family: pacifico;
  height: 100%;
  float: right;
  border: none;
}

.header-app-name {
  height: 100%;
  font-family: pacifico;
  font-size: 20px;
}